@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .icon-menu {
    @apply block bg-[url(../icon/menu.svg)] bg-no-repeat;
    width: 28px;
    height: 28px;
  }

  input[type="checkbox"]:checked + .icon-menu {
    @apply block bg-[url(../icon/cancel.svg)];
    font-size: 5px;
  }

  input[type="checkbox"]:checked ~ nav {
    @apply flex;
  }
  .banner-background {
    @apply bg-[url(../img/bg1.png)] lg:bg-fixed;
  }
  .baner-background {
    @apply bg-[url(../img/bg.png)] lg:bg-fixed;
  }
  .baner-background1 {
    @apply bg-[url(../img/picture2.png)];
  }
  .baner-background2 {
    @apply bg-[url(../img/picture1.png)];
  }

  .slider {
    @apply py-2;
    width: 100%;
    height: 15vh;
    display: flex;
    gap: 20px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      @apply hidden;
    }

    & .card-slide {
      @apply px-2 py-1;
      aspect-ratio: 24 / 10;
      border: 1px solid #f7d6dc;
      display: flex;
      place-content: center;
      place-items: center;
    }
  }
  .box-product:hover .add-to-cart {
    @apply block;
}

.add-to-cart:hover + .label {
    @apply block;
}

}